* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-X: hidden;
}

.right-wrapper {
    width: 80%;
    height: 100%;
    position: fixed;
    left: -80%;
    border: 1px solid black;
    z-index: 10000;
}

.wrapper {
    width: 100%;
    position: relative;
    left: -45%;
}

/******nav*****/

.wrapper .nav {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 9999;
    background-color: red;
    color: #fff;
}

.wrapper .nav .nav-top {
    width: 100%;
    height: 40px;
    display: flex;
}

.wrapper .nav .nav-top span {
    display: inline-block;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    flex-grow: 1;
}

.wrapper .nav .nav-top .menu {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 7px 0px 3px 12px;
    flex-grow: 0;
    background-image: url(/images/menu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wrapper .nav .soso {
    width: 100%;
    height: 30px;
    position: relative;
}

.wrapper .nav .soso input {
    width: 75%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 14px;
    border-radius: 30px;
    border: none;
}

.wrapper .content {
    width: 100%;
    position: relative;
    top: 71px;
}

/*******slideshow*******/

.wrapper .content .slideshow {
    width: 100%;
    height: 191px;
    position: relative;
}

.slideshow .slider,
.slideshow .slider li {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slideshow .slider li {
    opacity: 0;
    border-radius: 20px;
    transition: opacity 1s linear;
}

.slideshow .slider li img {
    width: 100%;
    height: 100%;
}

.slideshow .slider-index {
    position: absolute;
    width: 100%;
    height: 15px;
    bottom: 5px;
    display: flex;
    justify-content: center;
}

.slideshow .slider-index span {
    display: block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.slideshow .slider-index .slider-active {
    background-color: red;
}

/* waterfall */

/******template******/

.wrapper .content .waterfall {
    position: relative;
    width: 100%;
}

.waterfall .md {
    position: relative;
    width: 100%;
}

.waterfall .md .hd {
    height: 50px;
    width: 34%;
    display: inline-block;
    position: relative;
}

.waterfall .md .hd .hd-title,
.waterfall .md .hd .hd-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.waterfall .md .hd .hd-title {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 600;
    font-size: 18px;
}

.waterfall .md .hd .hd-icon {
    left: 100px;
    width: 23px;
    height: 23px;
    background-image: url('/images/more.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.waterfall .md .cb {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.waterfall .md .cb li {
    width: 32%;
    position: relative;
}

.waterfall .md .cb .image {
    width: 100%;
}

.waterfall .md .cb .image img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
}

.waterfall .md .cb li .bottom {
    width: 100%;
    height: 30px;
    position: absolute;
    z-index: 999;
    line-height: 30px;
    top: 1px;
}

.cb li .bottom .icon-headset,
.cb li .bottom .icon-play {
    background: url(/image/iconall.png) no-repeat;
}

.cb li .bottom .icon-headset {
    float: left;
    width: 14px;
    height: 11px;
    background-position: 0 -24px;
    margin: 9px 5px 9px 10px;
}

.cb li .bottom .nb {
    float: left;
    color: #fff;
    font-size: 10px;
}

.cb li .bottom .icon-play {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 0;
}

.md .cb li .title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.md .cb li .title a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}