<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>音乐播放器</title>
</head>

<body>
    <!-- 主界面 -->

    <div class="left-wrapper">
        <div class="left-main">
            <div class="login">
                <div class="portrait">
                    <img src="/images/ldh.jpg" alt="">
                </div>
                <span class="monicker">CT 欢迎你</span>
            </div>
            <ul class="user-select">
                <li>消息中心</li>
                <li>听歌爱好</li>
                <li>帮助与反馈</li>
                <li>关于</li>
                <li>退出登录</li>
            </ul>
        </div>


    </div>

    <div class="right-wrapper">

        <!-- 导航栏 -->
        <div class="nav">
            <div class="nav-top">
                <!-- <span class="menu"></span> -->
                <svg t="1527909179631" class="icon" style="color: #fff; width: 30px; height: 30px; margin: 5px 0px 3px 12px; " viewBox="0 0 1024 1024"
                    version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6816" xmlns:xlink="http://www.w3.org/1999/xlink" width="16"
                    height="16">
                    <defs>
                        <style type="text/css"></style>
                    </defs>
                    <path d="M105.931034 300.137931C105.931034 280.636566 121.789652 264.827586 141.3498 264.827586L882.6502 264.827586C902.211443 264.827586 918.068966 280.500605 918.068966 300.137931 918.068966 319.639296 902.210348 335.448276 882.6502 335.448276L141.3498 335.448276C121.788557 335.448276 105.931034 319.775257 105.931034 300.137931ZM105.931034 512C105.931034 492.498635 121.789652 476.689655 141.3498 476.689655L882.6502 476.689655C902.211443 476.689655 918.068966 492.362674 918.068966 512 918.068966 531.501365 902.210348 547.310345 882.6502 547.310345L141.3498 547.310345C121.788557 547.310345 105.931034 531.637326 105.931034 512ZM105.931034 723.862069C105.931034 704.360704 121.789652 688.551724 141.3498 688.551724L882.6502 688.551724C902.211443 688.551724 918.068966 704.224743 918.068966 723.862069 918.068966 743.363434 902.210348 759.172414 882.6502 759.172414L141.3498 759.172414C121.788557 759.172414 105.931034 743.499395 105.931034 723.862069Z"
                        p-id="6817" fill="#ffffff"></path>
                </svg>
                <div class="nav-title">
                    <span class="current-page">推荐</span>
                    <span>排行榜</span>
                    <span>歌单</span>
                    <span>发现</span>
                </div>
            </div>
            <div class="soso">
                <input type="text" placeholder="搜 一 搜">
                <span>取消</span>
            </div>
        </div>

        <!-- 中心 -->
        <div class="threed">
            <div class="content">
                <div class="recommend">
                    <!-- 轮播图 -->
                    <div class="slideshow">
                        <ul class="slider">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="slider-index">
                            <span class="slider-active"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <!-- 瀑布流 -->
                    <div class="waterfall">
                        <!-- template -->
                        <div class="md">
                            <div class="hd">
                                <span class="hd-title">推荐歌单</span>
                                <span class="hd-icon"></span>
                            </div>
                            <ul class="cb">
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb">1240.5万</span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb"></span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb"></span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb"></span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb"></span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb"></span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="md">
                            <div class="hd">
                                <span class="hd-title">推荐歌单</span>
                                <span class="hd-icon"></span>
                            </div>
                            <ul class="cb">
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb">1240.5万</span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb"></span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb"></span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb"></span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb"></span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                                <li>
                                    <div class="wf-image">
                                        <div class="bottom">
                                            <span class="icon-headset"></span>
                                            <span class="nb"></span>
                                            <span class="icon-play"></span>
                                        </div>
                                    </div>
                                    <p class="title">
                                        <a href="">黑寡妇三角阀刷卡机很热乎</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="rank">
                    <ul>
                        <li>
                            <div class="rank-image">
                                <img src="" alt="">
                            </div>
                            <ul>
                                <li>稻香</li>
                                <li>apologize</li>
                                <li>体面</li>
                            </ul>
                            <div class="arrow">
                                <svg t="1529970697109" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1097"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
                                    <defs>
                                        <style type="text/css"></style>
                                    </defs>
                                    <path d="M492.675886 904.817574L885.696074 511.797385 492.675886 118.777197c-12.258185-12.258185-12.432147-32.892131 0.187265-45.51052 12.707416-12.707416 32.995485-12.703323 45.511543-0.187265l411.660734 411.660734c7.120165 7.120165 10.163477 17.065677 8.990768 26.624381 1.500167 9.755178-1.5104 20.010753-8.990768 27.491121L538.374694 950.515359c-12.258185 12.258185-32.892131 12.432147-45.511543-0.187265-12.707416-12.707416-12.703323-32.995485-0.187265-45.51052z"
                                        p-id="1098"></path>
                                </svg>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="play-list"></div>

                <div class="discover"></div>
            </div>
        </div>




        <div class="p-bottom">
            <div class="p-img">
                <img src="" alt="">
            </div>

            <div class="p-content">
                <div class="name"></div>
                <div class="author"></div>
            </div>

            <div class="p-btn">
                <span class="state"></span>
                <span class="list"></span>
            </div>
        </div>

    </div>

    <!-- 搜索列表 -->
    <div class="song_wrapper">
        <ul class="song_list">
        </ul>
    </div>

    <div class="baffle"></div>


    <!-- 播放界面 -->
    <div class="play-UI">
        <div class="play-content">
            <div class="play-nav">
                <div class="back">
                    <svg t="1528260666529" class="icon" style="color: #fff; margin-left: 5px; width: 25px; height: 25px;" viewBox="0 0 1024 1024"
                        version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1128" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="32" height="32">
                        <defs>
                            <style type="text/css"></style>
                        </defs>
                        <path d="M710.153924 8.980397L266.007127 460.692524a81.118646 81.118646 0 0 0 0.861532 114.476097l446.192936 441.050666a26.922883 26.922883 0 0 0 37.853573-38.284339L304.722232 536.884282a27.27288 27.27288 0 0 1-0.323074-38.445877L748.545955 46.726278A26.922883 26.922883 0 1 0 710.180847 9.00732z"
                            p-id="1129" fill="#ffffff"></path>
                    </svg>
                </div>
                <div class="info">
                    <div class="name"></div>
                    <div class="author"></div>
                </div>
                <div class="share"></div>
            </div>
            <div class="play-main">
                <div class="wand"></div>
                <div class="dial paused">
                    <div class="zz">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="lyric">
                    <div class="ly-list"></div>
                </div>
            </div>



            <div class="play-bottom">

                <div class="progress-bar">
                    <span class="start-time">00:00</span>
                    <div class="bar-wrap">
                        <div class="bar">
                            <div class="slide">
                            </div>
                        </div>
                    </div>

                    <span class="end-time">03:51</span>
                </div>

                <div class="play-control">
                    <span class="play-mode"></span>
                    <span class="prev"></span>
                    <span class="state"></span>
                    <span class="next"></span>
                    <span class="list"></span>
                </div>

            </div>

        </div>
        <div class="play-bg">
            <img src="" alt="">
        </div>
    </div>
</body>

</html>