<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/playsong.css">
    <script src="/js/ajax.js"></script>
    <script src="/js/song.js"></script>
</head>

<body>
    <div class="play-wrapper">

        <div class="play-nav">
            <div class="prev"></div>
            <div class="info">
                <div class="name">林中鸟</div>
                <div class="author">葛林</div>
            </div>
            <div class="share"></div>
        </div>
        <div class="wand">
        </div>
        <div class="dial paused">
            <div class="zz">
                <img src="/images/19019352137865075.jpg" alt="">
            </div>
        </div>
        <div class="lyric">
            <div class="ly-list"></div>
        </div>
        <div class="progress-bar">
            <span class="start-time">00:00</span>
            <div class="bar">
                <div class="slide">
                    <span></span>
                </div>
            </div>

            <span class="end-time">03:51</span>
        </div>

        <div class="bottom">
            <span class="play-mode"></span>
            <span class="prev"></span>
            <span class="state"></span>
            <span class="next"></span>
            <span class="list"></span>
        </div>

    </div>

    <script>
        // var hash = window.location.search.match(/hash=(.*)$/)[1];
        // // console.log(hash);
        // var song = new Song();
        // song.isPlay = false;
        // song.imgDoc = document.getElementsByClassName('img-wrapper')[0];
        // var playBtn = document.getElementsByClassName('play-btn')[0];
        // song.loadSong(hash);
        // song.timeDom = document.getElementsByClassName('all-time')[0];

        // playBtn.onclick = function () {
        //     if (song.isPlay) {
        //         song.isPlay = false;
        //         song.pause();
        //     } else {
        //         song.isPlay = true;
        //         song.play();
        //     }
        //     this.classList.toggle('pause-btn');
        // }
    </script>
</body>

</html>