@media screen and (max-width: 800px) {
    * {
        padding: 0;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
    }
    html,
    body {
        width: 100%;
        height: 100%;
    }
    /* 左边登录部分 */
    .left-wrapper {
        width: 80%;
        height: 100%;
        position: fixed;
        left: -80%;
        transition: left 300ms ease-out;
        z-index: 10000;
        background-color: #fff;
    }
    .left-wrapper .left-main {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    .left-wrapper .left-main .login {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        border-bottom: 25px solid rgba(200, 197, 197, 0.1);
    }
    .left-wrapper .left-main .login .portrait {
        display: inline-block;
        height: 85px;
        width: 85px;
        margin: 0 20px 0 20px;
    }
    .left-wrapper .left-main .login .portrait img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    .left-wrapper .left-main .login .monicker {
        display: inline-block;
        height: 100px;
        flex-grow: 1;
        line-height: 100px;
        text-align: center;
    }
    .left-wrapper .left-main .user-select {
        flex-grow: 1;
        width: 100%;
        font-size: 16px;
        padding: 30px 10px 0 20px;
    }
    .left-wrapper .left-main .user-select li {
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        box-sizing: content-box;
    }
    .left-wrapper .left-main .user-select li:last-child {
        color: #C20C0C;
    }
    /* 右边界面 */
    .right-wrapper {
        width: 100%;
        position: relative;
        z-index: 9999;
        right: 0;
        transition: right 300ms ease-out;
    }
    /******nav*****/
    .right-wrapper .nav {
        width: 100%;
        height: 73px;
        position: fixed;
        z-index: 9000;
        background-color: #C20C0C;
        color: #fff;
        top: 0;
        transition: all 400ms ease-in-out;
    }
    .right-wrapper .nav .nav-top {
        width: 100%;
        height: 40px;
        display: flex;
    }
    .right-wrapper .nav .nav-top .nav-title {
        display: flex;
        flex-grow: 1;
        position: relative;
    }
    .right-wrapper .nav .nav-top .nav-title::before {
        width: 0;
        height: 0;
        position: absolute;
        left: 12.5%;
        transform: translateX(-50%);
        display: block;
        content: '';
        border: 8px solid transparent;
        border-top: 8px solid #fff;
    }
    .right-wrapper .nav .nav-top span {
        display: inline-block;
        width: 60px;
        height: 40px;
        text-align: center;
        position: relative;
        line-height: 40px;
        flex-grow: 1;
    }
    .right-wrapper .nav .nav-top .menu {
        display: inline-block;
        width: 26px;
        height: 28px;
        margin: 7px 0px 3px 12px;
        flex-grow: 0;
        background-image: url(../images/menu.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .right-wrapper .nav .soso {
        width: 100%;
        height: 30px;
        position: relative;
    }
    .right-wrapper .nav .soso input {
        width: 75%;
        height: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        font-size: 14px;
        border-radius: 30px;
        border: none;
        outline: none;
        transition: all 300ms ease-in-out;
    }
    .right-wrapper .nav .soso span {
        position: absolute;
        right: 5px;
        font-size: 16px;
        color: blue;
        margin: 3px 3px 0 0;
        display: none;
    }
    /* input 被点击时 效果改变 */
    .right-wrapper .nav.active {
        top: -30px;
        background-color: #ccc;
        height: 80px;
    }
    .right-wrapper .nav.active .soso input {
        width: 85%;
        left: 44%;
        height: 100%;
    }
    .right-wrapper .nav.active .soso span {
        display: inline-block;
    }
    /* 搜索歌曲列表展示 */
    .song_wrapper {
        width: 100%;
        position: relative;
        top: 50px;
        display: none;
    }
    .song_wrapper .song_list {
        width: 100%;
    }
    .song_wrapper .song_list .song_item {
        position: relative;
        height: 40px;
        border-bottom: 1px solid #ccc;
        margin: 3px 0 3px 0;
    }
    .song_wrapper .song_list .song_item div {
        width: 100%;
        text-align: center;
        line-height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    /* 播放界面 */
    .play-UI {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 100%;
        color: #fff;
        z-index: 10001;
        transition: all 250ms ease-in;
    }
    .play-UI .play-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
    }
    .play-UI .play-content .play-nav {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }
    .play-content .play-nav .back {
        display: flex;
        align-items: center;
        width: 30px;
        height: 100%;
    }
    .play-content .play-nav .share {
        width: 42px;
        height: 100%;
    }
    .play-content .play-nav .info {
        flex-grow: 1;
        height: 100%;
    }
    .play-content .play-nav .info .name,
    .play-content .play-nav .info .author {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .play-content .play-nav .info .author {
        font-size: 10px;
    }
    /* 播放界面中心部分 */
    .play-UI .play-content .play-main {
        width: 100%;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
    }
    .play-content .play-main .dial {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        display: inline-block;
        position: absolute;
        top: 50px;
        left: 50%;
        opacity: 0;
        transition: opacity 1s linear;
        transform: translateX(-50%);
        animation: zhuan 12s linear infinite;
    }
    .play-content .play-main div.paused {
        animation-play-state: paused;
    }
    /* 转盘 */
    .play-content .play-main .dial .zz {
        width: 100%;
        height: 100%;
        border: 50px solid black;
        border-radius: 100%;
    }
    @keyframes zhuan {
        0% {
            transform: translateX(-50%) rotateZ(0deg);
        }
        100% {
            transform: translateX(-50%) rotateZ(360deg);
        }
    }
    .play-content .play-main .dial .zz img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    /* 歌词 */
    .play-content .play-main .lyric {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: opcity 1s linear;
        display: none;
    }
    .play-content .play-main .lyric .ly-list {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transition: marginTop 100ms linear;
    }
    .play-content .play-main .lyric .ly-list p {
        font-family: '新宋体', '微软雅黑', Arial, Helvetica, sans-serif;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }
    .play-content .play-main .lyric .ly-list .active {
        color: deepskyblue;
    }
    .play-UI .play-content .play-bottom {
        width: 100%;
        height: 100px;
        bottom: 0;
        position: relative;
    }
    /* 进度条 */
    .play-UI .play-content .play-bottom .progress-bar {
        height: 30%;
        width: 100%;
        position: absolute;
        text-align: center;
        line-height: 30px;
    }
    .play-UI .play-content .play-bottom .progress-bar .start-time,
    .play-UI .play-content .play-bottom .progress-bar .end-time {
        display: inline-block;
        width: 12%;
        font-size: 10px;
    }
    .play-UI .play-content .play-bottom .progress-bar .start-time {
        float: left;
    }
    .play-UI .play-content .play-bottom .progress-bar .end-time {
        float: right;
    }
    .play-UI .play-content .play-bottom .progress-bar .bar-wrap {
        display: inline-block;
        height: 30px;
        width: 75%;
        position: relative;
        overflow: hidden;
    }
    .play-UI .play-content .play-bottom .progress-bar .bar-wrap .bar {
        width: 100%;
        height: 2px;
        background-color: #ddd;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .play-UI .play-content .play-bottom .progress-bar .bar-wrap .bar .slide {
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #C20C0C;
        right: 100%;
    }
    .play-UI .play-content .play-bottom .progress-bar .bar-wrap .bar .slide::after {
        display: block;
        content: ' ';
        width: 10px;
        height: 10px;
        position: absolute;
        transform: translateY(-50%);
        left: 100%;
        border-radius: 100%;
        background-color: #C20C0C;
    }
    /* 播放界面底部 */
    .play-UI .play-content .play-bottom .play-control {
        width: 100%;
        height: 70%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .play-content .play-bottom .play-control span {
        width: 30px;
        height: 30px;
        display: inline-block;
    }
    .play-content .play-bottom .play-control .play-mode,
    .play-content .play-bottom .play-control .prev,
    .play-content .play-bottom .play-control .next,
    .play-content .play-bottom .play-control .state,
    .play-content .play-bottom .play-control .list {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .play-content .play-bottom .play-control .play-mode {
        background-image: url(../images/icon-like.png);
    }
    .play-content .play-bottom .play-control .prev {
        background-image: url(../images/icon-prev.png);
    }
    .play-content .play-bottom .play-control .state {
        background-image: url(../images/icon-play.png);
    }
    .play-content .play-bottom .play-control .pause-btn {
        background-image: url(../images/icon-pause.png);
    }
    .play-content .play-bottom .play-control .next {
        background-image: url(../images/icon-next.png);
    }
    .play-content .play-bottom .play-control .list {
        background-image: url(../images/icon-list.png);
    }
    .play-UI .play-bg {
        width: 100%;
        height: 100%;
    }
    .play-UI .play-bg img {
        width: 100%;
        height: 100%;
    }
    /* 底部播放界面 */
    .right-wrapper .p-bottom {
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
        background-color: #C20C0C;
        transition: bottom 350ms linear;
    }
    .p-bottom .p-img {
        width: 40px;
        height: 40px;
        margin-left: 10px;
        float: left;
        animation: zhuanzhuan 10s linear infinite;
    }
    .p-bottom .p-img.paused {
        animation-play-state: paused;
    }
    @keyframes zhuanzhuan {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ(360deg);
        }
    }
    .p-bottom .p-img img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    .p-bottom .p-content {
        flex-grow: 1;
        height: 100%;
    }
    .p-bottom .p-content .name,
    .p-bottom .p-content .author {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .p-bottom .p-content .author {
        font-size: 10px;
    }
    .p-bottom .p-btn {
        width: 120px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .p-bottom .p-btn span {
        display: inline-block;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .p-bottom .p-btn .state {
        width: 30px;
        background-image: url(../images/icon-play.png);
        height: 30px;
    }
    .p-bottom .p-btn .state.pause-btn {
        height: 30px;
        width: 30px;
        background-image: url(../images/icon-pause.png);
    }
    .p-bottom .p-btn .list {
        width: 30px;
        height: 30px;
        background-image: url(../images/icon-list.png);
    }
    .right-wrapper .threed {
        /* perspective: 800px; */
    }
    .right-wrapper .content {
        width: 100%;
        top: 73px;
        position: absolute;
    }
    .baffle {
        width: 100%;
        height: 100%;
        top: 40px;
        position: fixed;
        z-index: 10006;
        right: -80%;
        background-color: #ccc;
        display: none;
        opacity: 0.3;
    }
}