* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.ct {
    position: relative;
    height: 100%;
    /* width: 18%; */
    /* left: -80%; */
}

.right-wrapper {
    width: 80%;
    height: 100%;
    position: fixed;
    left: -80%;
    border: 1px solid black;
    z-index: 10000;
}

.wrapper {
    width: 100%;
    position: relative;
}

/******nav*****/

.wrapper .nav {
    width: 100%;
    height: 73px;
    position: fixed;
    z-index: 9999;
    background-color: #C20C0C;
    color: #fff;
    top: 0;
    transition: all 200ms ease-in-out;
}

.wrapper .nav .nav-top {
    width: 100%;
    height: 40px;
    display: flex;
}

.wrapper .nav .nav-top span {
    display: inline-block;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    flex-grow: 1;
}

.wrapper .nav .nav-top .menu {
    display: inline-block;
    width: 26px;
    height: 28px;
    margin: 7px 0px 3px 12px;
    flex-grow: 0;
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .nav .soso {
    width: 100%;
    height: 30px;
    position: relative;
}

.wrapper .nav .soso input {
    width: 75%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 14px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.wrapper .nav .soso span {
    position: absolute;
    right: 5px;
    font-size: 16px;
    color: blue;
    margin: 3px 3px 0 0;
    display: none;
}

.wrapper .song_wrapper {
    width: 100%;
    position: relative;
    top: 30px;
    display: none;
}

.song_wrapper .song_list {
    width: 100%;
}

.song_wrapper .song_list .song_item {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #ccc;
    margin: 3px 0 3px 0;
}

.song_wrapper .song_list .song_item div {
    width: 100%;
    text-align: center;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.wrapper .content {
    width: 100%;
    position: relative;
    top: 73px;
}

/*******slideshow*******/

.wrapper .content .slideshow {
    width: 100%;
    position: relative;
}

.slideshow .slider,
.slideshow .slider li {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slideshow .slider li {
    opacity: 0;
    border-radius: 20px;
    transition: opacity 1s linear;
}

.slideshow .slider li img {
    width: 100%;
    height: 100%;
}

.slideshow .slider-index {
    position: absolute;
    width: 100%;
    height: 15px;
    bottom: 5px;
    display: flex;
    justify-content: center;
}

.slideshow .slider-index span {
    display: block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.slideshow .slider-index .slider-active {
    background-color: #C20C0C;
}

/* waterfall */

/******template******/

.wrapper .content .waterfall {
    position: relative;
    width: 100%;
}

.waterfall .md {
    position: relative;
    width: 100%;
}

.waterfall .md .hd {
    height: 50px;
    width: 34%;
    display: inline-block;
    position: relative;
}

.waterfall .md .hd .hd-title,
.waterfall .md .hd .hd-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.waterfall .md .hd .hd-title {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 600;
    font-size: 18px;
}

.waterfall .md .hd .hd-icon {
    left: 100px;
    width: 23px;
    height: 23px;
    background-image: url(../images/more.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.waterfall .md .cb {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.waterfall .md .cb li {
    width: 32%;
    position: relative;
}

.waterfall .md .cb .wf-image {
    width: 100%;
}

.waterfall .md .cb .wf-image img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
}

.waterfall .md .cb li .bottom {
    width: 100%;
    height: 30px;
    position: absolute;
    z-index: 999;
    line-height: 30px;
    top: 1px;
}

.cb li .bottom .icon-headset,
.cb li .bottom .icon-play {
    background: url(../images/iconall.png) no-repeat;
}

.cb li .bottom .icon-headset {
    float: left;
    width: 14px;
    height: 11px;
    background-position: 0 -24px;
    margin: 9px 5px 9px 10px;
}

.cb li .bottom .nb {
    float: left;
    color: #fff;
    font-size: 10px;
}

.cb li .bottom .icon-play {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 0;
}

.md .cb li .title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.md .cb li .title a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* 播放界面 */

.play-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    display: none;
}

.play-wrapper .play-nav {
    width: 100%;
    height: 42px;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.play-nav .back {
    width: 30px;
    height: 30px;
}

.play-nav .share {
    width: 42px;
    height: 100%;
}

.play-nav .info {
    flex-grow: 1;
}

.play-nav .info .name,
.play-nav .info .author {
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.play-nav .info .author {
    font-size: 10px;
}

.play-wrapper .dial {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    animation: zhuan 10s linear infinite;
}

.play-wrapper div.paused {
    animation-play-state: paused;
}

.play-wrapper .dial .zz {
    width: 100%;
    height: 100%;
    border: 50px solid black;
    border-radius: 100%;
}

@keyframes zhuan {
    0% {
        transform: translateX(-50%) rotateZ(0deg);
    }
    100% {
        transform: translateX(-50%) rotateZ(360deg);
    }
}

.dial .zz img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.play-wrapper .lyric {
    width: 100%;
    height: 75%;
    border: 1px solid #C20C0C;
    overflow: hidden;
    position: relative;
    display: none;
}

.lyric .ly-list {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.play-wrapper .progress-bar {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 90px;
    text-align: center;
    line-height: 30px;
}

.progress-bar .start-time,
.progress-bar .end-time {
    display: inline-block;
    width: 12%;
    font-size: 10px;
}

.progress-bar .start-time {
    float: left;
}

.progress-bar .end-time {
    float: right;
}

.progress-bar .bar {
    display: inline-block;
    height: 2px;
    width: 75%;
    background-color: #ddd;
    margin: 0 0px 5px 0px;
    position: relative;
    overflow: hidden;
}

.progress-bar .bar .slide {
    position: absolute;
    height: 2px;
    width: 250px;
    background-color: #C20C0C;
    right: 100%;
}

.progress-bar .bar .slide span {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
    left: 100%;
    border-radius: 100%;
    background-color: #C20C0C;
}

.play-wrapper .bottom {
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play-wrapper .bottom span {
    width: 35px;
    display: inline-block;
    height: 35px;
}

.bottom .play-mode,
.bottom .prev,
.bottom .next,
.bottom .state,
.bottom .list {
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom .play-mode {
    background-image: url(/images/icon-like.png);
}

.bottom .prev {
    background-image: url(/images/icon-prev.png);
}

.bottom .state {
    background-image: url(/images/icon-play.png);
}

.bottom .pause-btn {
    background-image: url(/images/icon-pause.png);
}

.bottom .next {
    background-image: url(/images/icon-next.png);
}

.bottom .list {
    background-image: url(/images/icon-list.png);
}